/* Body General Css */

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* navbar css */
.navbar {
    background-color: #235a92;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  background-color: #ffffff; /* Belirginleşen arkaplan rengi */
  color: #235a92; /* Belirginleşen metin rengi */
  border-radius: 10px;
}

.price-offer {
    background-color: #24d3fb;     color: #235a92; 
    border-radius: 15px;
    padding: 3px 5px;
    font-family: 'Georgia', serif;
    font-weight: bolder;
  }
  
  
  .price-offer:hover {
    background-color: #1cf7ff; 
    color: #ffffff; 
  }

/* Slogan css */

/* your-custom-styles.css */

/* Slogan alanı genel stillemeleri */
.slogan-container {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 300px; /* Slogan alanı yüksekliği, ihtiyaca göre ayarlayabilirsiniz */
  overflow: hidden;
}

/* Görsel (arka plan) */
.slogan-background {
  
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(0.5); /* Koyulaştırma efekti, 0 ile 1 arasında değer kullanabilirsiniz */
  backdrop-filter: blur(10px); /* Blurlaştırma efekti, istediğiniz px değerini kullanabilirsiniz */
}

/* Metin */
.slogan-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #3a01a3;
}

.slogan-content h2 {
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
  
}

.slogan-content p {
  font-size: 18px;
  margin-top: -10px;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
}


/* Arama çubuğu */

/* your-custom-styles.css */

/* Renkli şerit */
.color-strip {
  height: 50px; /* Şerit yüksekliği, ihtiyaca göre ayarlayabilirsiniz */
  background-color: #235a92; /* Şerit rengi */
}

/* Ortalanmış arama çubuğu alanı */
.search-container {
  width: 100%;
  max-width: 400px; /* İstediğiniz maksimum genişlik, ihtiyaca göre ayarlayabilirsiniz */
  margin: 0 auto; /* Horizontal ortalama */
  text-align: center; /* İçeriği ortala */
  padding: 5px; /* İçerik etrafındaki boşluklar */
}

/* Oval arama çubuğu ve ikonu stillemeleri */
.search-box {
  height: 40px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px; /* Oval şeklini sağlayan değer */
  overflow: hidden;
  background-color: #fff; /* Arama çubuğunun arka plan rengi */
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #3a01a3; /* Metin rengi */
}

.search-box button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #3a01a3; /* İkon rengi */
}

/* Küçük ekranlarda arama çubuğunu daha küçük yapma */
@media screen and (max-width: 767px) {
  .search-box input {
    padding: 8px;
  }

  .search-box button {
    padding: 8px;
  }
}


/* ürün grupları */

/* your-custom-styles.css */

/* Genel stillemeler */
.content-container {
  width: 100%;
  max-width: 800px; /* İstediğiniz maksimum genişlik, ihtiyaca göre ayarlayabilirsiniz */
  margin: 0 auto; /* Horizontal ortalama */
  text-align: center; /* İçeriği ortala */
  padding: 20px; /* İçerik etrafındaki boşluklar */
}

/* Başlık stillemeleri */
h2 {
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 3px;
  color: #3a01a3;
}
/* Ürün Gruplarımız yazısının fontunu değiştiren stil kuralları */
.content-container h2 {
  font-family: "Times New Roman", Times, serif; /* Kullanmak istediğiniz fontu buraya ekleyin */
  font-weight: bolder;
}
@media screen and (max-width: 767px) {
  .content-container h2 {
    font-size: 30px; /* Küçük ekranlarda boyutu küçült */
  }
}


/* Ürün grupları alanı genel stillemeleri */
.product-groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Her bir ürün grubu stillemeleri */
.product-group {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-size: cover;
  position: relative;

  /* Kartın genişliği ve yüksekliği */
  width: 400px; /* İstediğiniz genişlik değeri */
  height: 275px; /* İstediğiniz yükseklik değeri */

  background: rgb(238, 174, 202); /* Fallback rengi */
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 52%);
  color: black; /* Yazı rengi beyaz */
}

/* İncele butonu stillemeleri */
.product-group button {
  background-color: #3a01a3; /* İncele butonunun arka plan rengi */
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.product-group button:hover {
  background-color: #ffffff; /* Hover durumunda arkaplan rengi */
  color: #3a01a3; /* Hover durumunda metin rengi */
  border-radius: 5px;
}

.product-group h3 {
  font-family: "Times New Roman", Times, serif; /* Başlık için yazı tipi seçimi */
  font-weight: bolder;
}

.product-group p {
  font-family: "Times New Roman", Times, serif; /* Paragraf için yazı tipi seçimi */
  font-weight: bolder;
}

/* İkon stillemeleri */
.product-group i {
  color: #fff; /* İkon rengi */
  margin-bottom: 10px;
  font-size: 4em;
  font-weight: bolder;
}

/* misyon ve vizyon */

/* your-custom-styles.css */

/* Misyon ve Vizyon alanı genel stillemeleri */
.mission h2 {
  font-family: 'Times New Roman', serif; /* Yazı tipi seçimi */
  font-size: 50px;
  color: #3a01a3; /* Yazı rengi */
  font-weight: bolder;
}
/* Misyon kartının arkaplan rengini değiştirme */

.vision h2 {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  color: #3a01a3; 
  font-weight: bolder;
}
.mission-vision-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Telefon modunda yan yana, aşağı doğru kaymasını sağlar */
}

/* Misyon ve Vizyon alanları stillemeleri */
.mission, .vision {
  background: rgb(238, 174, 202); /* Fallback rengi */
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 52%);
  flex: 1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px; /* Belirli bir boşluk bırakır */
  color: #040404; 
}

/* Boşluk stillemeleri */
.space {
  width: 100%; /* Belirli bir boşluk genişliği */
}

/* Responsive düzenleme */
@media screen and (max-width: 767px) {
  .mission, .vision {
    flex: 1;
    width: 100%; /* Tam genişlik alacak */
  }

  .mission, .vision {
    margin-bottom: 10px; /* Telefon modunda daha az boşluk bırakır */
  }
}

/* Bize ulaşın */
/* your-custom-styles.css */

/* Bize Ulaşın alanı genel stillemeleri */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background-color: #fff; /* Arka plan rengi beyaz */
  padding: 20px;
  border-radius: 10px;
}

/* Bize Ulaşın başlığı stillemeleri */
h2 {
  width: 100%;
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  color: #3a01a3; 
  font-weight: bolder;
}

/* Her bir iletişim öğesi (WhatsApp, Yol Tarifi, E-Posta) stillemeleri */
.contact-item {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
 
}

/* QR Kodu stillemeleri */
.contact-item img {
  width: 100%;
  max-width: 150px; /* QR kodunun maksimum genişliği */
  margin-top: 10px;
}

/* Ikon stillemeleri */
.contact-item i {
  color: #3a01a3; /* Ikon rengi */
}

